@use "base";

.container {
  background-color: lightgray;
  min-height: 100vh;
  width: 100vw;
  padding: 2.5% 10%;
}

nav {
  li {
    display: inline-block;
    font-size: base.$h1-size;
  }
}

.resultsNominations {
  display: flex;
  flex-direction: row;

  @media (max-width: 750px) {
    flex-direction: column;
  }
}

.banner {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  width: 100%;
  padding: 2%;
  text-align: center;
  font-size: base.$h3-size;
  color: white;
}
